.wrapper {
  width: 100%;
  font-size: 30vw;
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  .wrapper {
    font-size: 150px;
  }
}

.timerDescription {
  color: white;
  font-size: 12vw;
}

@media (min-width: 768px) {
  .timerDescription {
    font-size: 80px;
  }
}
